@import "transitions";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#app {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
body{
  margin: 0;
}

.alt-font {
  font-family: 'Pacifico', Helvetica, Arial, sans-serif;
}

.debug{
  border: 2px dashed darkred;
  color: white;
  padding: 5px;
}

